In [2]:
import numpy as np
import pandas as pd

In [3]:
id = pd.read_excel("2023 Kaggle Codes.xlsx")
id[id["team name "] == "Georgia St."]

Empty DataFrame
Columns: [TeamID, team name , ConfAbbrev]
Index: []

In [4]:
data = pd.read_csv("Tournament Matchups.csv")

In [5]:
data

,YEAR,BY YEAR NO,BY ROUND NO,TEAM NO,TEAM,SEED,ROUND,CURRENT ROUND,SCORE
0,2024,2034,NaN,1033,Purdue,1,1,64,NaN
1,2024,2033,NaN,1032,Quinnipiac,16,64,64,NaN
2,2024,2032,NaN,1065,Connecticut,1,1,64,NaN
3,2024,2031,NaN,1026,South Dakota St.,16,64,64,NaN
4,2024,2030,NaN,1053,Houston,1,1,64,NaN
...,...,...,...,...,...,...,...,...,...
2029,2008,5,33.0,43,Kansas,1,1,4,84.0
2030,2008,4,32.0,37,Memphis,1,2,4,78.0
2031,2008,3,31.0,13,UCLA,1,4,4,63.0
2032,2008,2,2.0,43,Kansas,1,1,2,68.0
2033,2008,1,1.0,37,Memphis,1,2,2,75.0

In [6]:
final = pd.DataFrame(columns = ["Team 1", "Team 2", "Seed 1", "Seed 2", "Win"])

In [7]:
data22 = data[data["YEAR"] == 2022][["YEAR", "TEAM NO", "TEAM", "ROUND", "SEED", "CURRENT ROUND"]].reset_index(drop=True)
data22

     YEAR  TEAM NO            TEAM  ROUND  SEED  CURRENT ROUND
0    2022      925         Gonzaga     16     1             64
1    2022      926     Georgia St.     64    16             64
2    2022      937       Boise St.     64     8             64
3    2022      912         Memphis     32     9             64
4    2022      931     Connecticut     64     5             64
..    ...      ...             ...    ...   ...            ...
121  2022      904  North Carolina      2     8              4
122  2022      881       Villanova      4     2              4
123  2022      918          Kansas      1     1              4
124  2022      904  North Carolina      2     8              2
125  2022      918          Kansas      1     1              2

[126 rows x 6 columns]

In [8]:
data2264 = data22[data22["CURRENT ROUND"] == 64]
losers = data2264[data2264["ROUND"] == data2264["CURRENT ROUND"]]
winners = data2264[data2264["ROUND"] != data2264["CURRENT ROUND"]]

final = pd.DataFrame(columns = ["Team 1", "Team 2", "Seed 1", "Seed 2", "Win"])

for i in range(32):
    x = [losers.iloc[i]["TEAM"], winners.iloc[i]["TEAM"]]
    y = [losers.iloc[i]["TEAM"], winners.iloc[i]["TEAM"]]
    x.sort()
    if x[0] == y[0]:
        final.loc[len(final)] = [losers.iloc[i]["TEAM"], winners.iloc[i]["TEAM"], losers.iloc[i]["SEED"], winners.iloc[i]["SEED"], 0]
    else:
        final.loc[len(final)] = [winners.iloc[i]["TEAM"], losers.iloc[i]["TEAM"], winners.iloc[i]["SEED"], losers.iloc[i]["SEED"], 1]

data2232 = data22[data22["CURRENT ROUND"] == 32]
losers = data2232[data2232["ROUND"] == data2232["CURRENT ROUND"]]
winners = data2232[data2232["ROUND"] != data2232["CURRENT ROUND"]]

for i in range(16):
    x = [losers.iloc[i]["TEAM"], winners.iloc[i]["TEAM"]]
    y = [losers.iloc[i]["TEAM"], winners.iloc[i]["TEAM"]]
    x.sort()
    if x[0] == y[0]:
        final.loc[len(final)] = [losers.iloc[i]["TEAM"], winners.iloc[i]["TEAM"], losers.iloc[i]["SEED"], winners.iloc[i]["SEED"], 0]
    else:
        final.loc[len(final)] = [winners.iloc[i]["TEAM"], losers.iloc[i]["TEAM"], winners.iloc[i]["SEED"], losers.iloc[i]["SEED"], 1]

data2216 = data22[data22["CURRENT ROUND"] == 16]
losers = data2216[data2216["ROUND"] == data2216["CURRENT ROUND"]]
winners = data2216[data2216["ROUND"] != data2216["CURRENT ROUND"]]

for i in range(8):
    x = [losers.iloc[i]["TEAM"], winners.iloc[i]["TEAM"]]
    y = [losers.iloc[i]["TEAM"], winners.iloc[i]["TEAM"]]
    x.sort()
    if x[0] == y[0]:
        final.loc[len(final)] = [losers.iloc[i]["TEAM"], winners.iloc[i]["TEAM"], losers.iloc[i]["SEED"], winners.iloc[i]["SEED"], 0]
    else:
        final.loc[len(final)] = [winners.iloc[i]["TEAM"], losers.iloc[i]["TEAM"], winners.iloc[i]["SEED"], losers.iloc[i]["SEED"], 1]

data228 = data22[data22["CURRENT ROUND"] == 8]
losers = data228[data228["ROUND"] == data228["CURRENT ROUND"]]
winners = data228[data228["ROUND"] != data228["CURRENT ROUND"]]

for i in range(4):
    x = [losers.iloc[i]["TEAM"], winners.iloc[i]["TEAM"]]
    y = [losers.iloc[i]["TEAM"], winners.iloc[i]["TEAM"]]
    x.sort()
    if x[0] == y[0]:
        final.loc[len(final)] = [losers.iloc[i]["TEAM"], winners.iloc[i]["TEAM"], losers.iloc[i]["SEED"], winners.iloc[i]["SEED"], 0]
    else:
        final.loc[len(final)] = [winners.iloc[i]["TEAM"], losers.iloc[i]["TEAM"], winners.iloc[i]["SEED"], losers.iloc[i]["SEED"], 1]

data224 = data22[data22["CURRENT ROUND"] == 4]
losers = data224[data224["ROUND"] == data224["CURRENT ROUND"]]
winners = data224[data224["ROUND"] != data224["CURRENT ROUND"]]

for i in range(2):
    x = [losers.iloc[i]["TEAM"], winners.iloc[i]["TEAM"]]
    y = [losers.iloc[i]["TEAM"], winners.iloc[i]["TEAM"]]
    x.sort()
    if x[0] == y[0]:
        final.loc[len(final)] = [losers.iloc[i]["TEAM"], winners.iloc[i]["TEAM"], losers.iloc[i]["SEED"], winners.iloc[i]["SEED"], 0]
    else:
        final.loc[len(final)] = [winners.iloc[i]["TEAM"], losers.iloc[i]["TEAM"], winners.iloc[i]["SEED"], losers.iloc[i]["SEED"], 1]

data222 = data22[data22["CURRENT ROUND"] == 2]
losers = data222[data222["ROUND"] == data222["CURRENT ROUND"]]
winners = data222[data222["ROUND"] != data222["CURRENT ROUND"]]

for i in range(1):
    x = [losers.iloc[i]["TEAM"], winners.iloc[i]["TEAM"]]
    y = [losers.iloc[i]["TEAM"], winners.iloc[i]["TEAM"]]
    x.sort()
    if x[0] == y[0]:
        final.loc[len(final)] = [losers.iloc[i]["TEAM"], winners.iloc[i]["TEAM"], losers.iloc[i]["SEED"], winners.iloc[i]["SEED"], 0]
    else:
        final.loc[len(final)] = [winners.iloc[i]["TEAM"], losers.iloc[i]["TEAM"], winners.iloc[i]["SEED"], losers.iloc[i]["SEED"], 1]

final

         Team 1          Team 2  Seed 1  Seed 2  Win
0   Georgia St.         Gonzaga      16       1    0
1     Boise St.         Memphis       8       9    0
2   Connecticut  New Mexico St.       5      12    0
3      Arkansas         Vermont       4      13    1
4       Alabama      Notre Dame       6      11    0
..          ...             ...     ...     ...  ...
58      Houston       Villanova       5       2    0
59       Kansas        Miami FL       1      10    1
60         Duke  North Carolina       2       8    0
61       Kansas       Villanova       1       2    1
62       Kansas  North Carolina       1       8    1

[63 rows x 5 columns]

In [9]:
zo = pd.ExcelFile('Zeroes and Ones.xlsx')
zo1 = pd.read_excel(zo, '2022 Training Data')
zo2 = pd.read_excel(zo, 'all 2022 tournament teams stats')

zo2

,School,G,Overall W,Overall L,W-L%,SRS,SOS,Conference W,Conference L,Home W,...,3PAr,TS%,TRB%,AST%,STL%,BLK%,eFG%,TOV%,ORB%,FT/FGA
0,Akron NCAA,34,24,10,0.706,0.91,-3.93,NaN,NaN,12,...,0.416,0.563,53.0,47.9,9.1,9.2,0.533,15.4,30.6,0.268
1,Alabama NCAA,33,19,14,0.576,14.62,11.59,NaN,NaN,13,...,0.476,0.547,52.3,53.1,9.6,11.9,0.513,16.7,35.3,0.239
2,Arizona NCAA,37,33,4,0.892,22.75,6.84,18.0,2.0,17,...,0.359,0.587,55.0,65.0,9.2,13.4,0.556,15.8,34.6,0.258
3,Arkansas NCAA,37,28,9,0.757,16.27,8.62,13.0,5.0,17,...,0.342,0.533,52.0,52.7,10.5,11.7,0.486,14.6,29.5,0.282
4,Auburn NCAA,34,28,6,0.824,19.20,8.17,15.0,3.0,16,...,0.398,0.534,52.5,53.1,11.5,21.1,0.499,14.2,33.6,0.231
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,Virginia Tech NCAA,36,23,13,0.639,14.48,6.48,NaN,NaN,11,...,0.411,0.576,51.4,55.2,8.4,9.3,0.551,15.0,27.9,0.184
64,Wisconsin NCAA,33,25,8,0.758,13.13,9.16,15.0,5.0,12,...,0.360,0.518,50.1,44.8,7.9,7.8,0.477,11.4,26.0,0.241
65,Wright State NCAA,36,22,14,0.611,-1.94,-5.11,NaN,NaN,12,...,0.327,0.554,50.9,51.3,8.4,7.6,0.516,15.2,30.8,0.244
66,Wyoming NCAA,34,25,9,0.735,9.36,3.60,NaN,NaN,14,...,0.431,0.565,52.0,44.7,5.8,5.4,0.531,15.0,25.5,0.260
67,Yale NCAA,31,19,12,0.613,-0.10,-1.34,NaN,NaN,10,...,0.359,0.537,50.2,46.7,8.8,9.3,0.501,16.1,25.7,0.236

In [73]:
zo = pd.ExcelFile('Zeroes and Ones 2023.xlsx')
zo1 = pd.read_excel(zo, '2023 Training Data')
zo2 = pd.read_excel(zo, 'all 2023 tournament teams stats')

zo1

,Date,School,School.1,Win,0 or 1,PTS,OPP,PT DIFF,Seed 1,Seed 2,Seed Diff
0,2023-03-18,Alabama,Maryland,W,1,73,51,22,1,8,-7
1,2023-03-17,Arizona State,TCU,L,0,70,72,-2,2,6,-4
2,2023-03-23,Arkansas,Connecticut,L,0,65,88,-23,8,4,4
3,2023-03-18,Arkansas,Kansas,W,1,72,71,1,8,1,7
4,2023-03-18,Auburn,Houston,L,0,64,81,-17,9,1,8
...,...,...,...,...,...,...,...,...,...,...,...
62,2023-03-15,FDU,Texas Southern,W,1,84,61,23,16,16,0
63,2023-03-15,Arizona State,Nevada,W,1,98,73,25,11,11,0
64,2023-03-14,Southeast Missouri State,Texas A&M-Corpus Christi,L,0,71,75,-4,16,16,0
65,2023-03-14,Mississippi State,Pittsburgh,L,0,59,60,-1,11,11,0
66,2023-03-24,Alabama,San Diego State,L,0,64,71,-7,1,5,-4

In [78]:
zo1 = pd.read_excel("2019 Training Data.xlsx")
zo2 = pd.read_excel('all 2019 tournament stats.xlsx')
zo2

,School,G,Overall W,Overall L,W-L%,SRS,SOS,Conference W,Conference L,Home W,...,3PAr,TS%,TRB%,AST%,STL%,BLK%,eFG%,TOV%,ORB%,FT/FGA
0,Abilene Christian NCAA,34,27,7,0.794,-1.91,-7.34,14,4,13,...,0.345,0.565,50.3,58.5,12.9,8.0,0.535,15.5,28.8,0.239
1,Air Force,32,14,18,0.438,-4.28,0.24,8,10,9,...,0.400,0.541,50.1,54.1,7.0,5.8,0.517,17.4,23.7,0.192
2,Akron,33,17,16,0.515,4.86,1.09,8,10,14,...,0.477,0.515,48.2,50.1,8.2,8.9,0.485,15.0,25.3,0.195
3,Alabama,34,18,16,0.529,9.45,9.01,8,10,10,...,0.369,0.533,52.0,48.8,6.6,11.6,0.503,16.8,31.5,0.253
4,Alabama A&M,32,5,27,0.156,-19.23,-8.38,4,14,4,...,0.320,0.479,47.1,52.3,10.7,4.7,0.457,19.4,27.6,0.157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,Wright State,35,21,14,0.600,3.29,-0.89,13,5,15,...,0.403,0.543,52.3,54.7,9.0,6.1,0.506,14.6,31.3,0.251
349,Wyoming,32,8,24,0.250,-9.75,0.19,4,14,6,...,0.435,0.534,44.7,48.0,7.8,7.9,0.492,18.6,15.6,0.288
350,Xavier,35,19,16,0.543,9.61,8.06,9,9,13,...,0.374,0.553,53.4,56.3,8.1,10.6,0.528,16.5,32.2,0.221
351,Yale NCAA,30,22,8,0.733,5.52,-1.24,10,4,11,...,0.350,0.584,52.9,56.3,8.0,11.2,0.556,15.9,25.8,0.227
352,Youngstown State,32,12,20,0.375,-7.78,-2.05,8,10,6,...,0.433,0.526,51.5,51.1,9.1,9.9,0.501,15.6,33.7,0.172

In [75]:
set(zo2.columns)

{'3PAr',
 'AST%',
 'Away L',
 'Away W',
 'BLK%',
 'Conference L',
 'Conference W',
 'FT/FGA',
 'FTr',
 'G',
 'Home L',
 'Home W',
 'ORB%',
 'ORtg',
 'Opp.',
 'Overall L',
 'Overall W',
 'Pace',
 'SOS',
 'SRS',
 'STL%',
 'School',
 'TOV%',
 'TRB%',
 'TS%',
 'Tm.',
 'W-L%',
 'eFG%'}

In [79]:
zo1

         Date                  School            School.1 Result
0  2019-04-08              Texas Tech            Virginia      L
1  2019-04-06                  Auburn            Virginia      L
2  2019-04-06          Michigan State          Texas Tech      L
3  2019-03-31                  Auburn            Kentucky      W
4  2019-03-31                    Duke      Michigan State      L
..        ...                     ...                 ...    ...
62 2019-03-21              Seton Hall             Wofford      L
63 2019-03-20  North Carolina Central  North Dakota State      L
64 2019-03-20           Arizona State     St. John's (NY)      W
65 2019-03-19                     FDU        Prairie View      W
66 2019-03-19                 Belmont              Temple      W

[67 rows x 4 columns]

In [80]:
a1 = []
a2 = []
a3 = []
a4 = []
a5 = []
a6 = []
a7 = []
a8 = []
a9 = []
a10 = []
a11 = []
a12 = []
a13 = []
a14 = []
a15 = []
a16 = []
a17 = []
a18 = []
a19 = []
a20 = []
a21 = []
a22 = []
a23 = []
a24 = []
a25 = []
a26 = []
a27 = []
a28 = []

b1 = []
b2 = []
b3 = []
b4 = []
b5 = []
b6 = []
b7 = []
b8 = []
b9 = []
b10 = []
b11 = []
b12 = []
b13 = []
b14 = []
b15 = []
b16 = []
b17 = []
b18 = []
b19 = []
b20 = []
b21 = []
b22 = []
b23 = []
b24 = []
b25 = []
b26 = []
b27 = []
b28 = []

for i in range(len(zo1)):
    a1.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['Overall W']))
    a2.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['Overall L']))
    a3.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['W-L%']))
    a4.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['SRS']))
    a5.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['SOS']))
    a6.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['Conference W']))
    a7.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['Conference L']))
    a8.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['Home W']))
    a9.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['Home L']))
    a10.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['Away W']))
    a11.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['Away L']))
    a12.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['Tm.']))
    a13.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['Opp.']))
    a14.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['Pace']))
    a15.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['ORtg']))
    a16.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['FTr']))
    a17.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['3PAr']))
    a18.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['TS%']))
    a19.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['TRB%']))
    a20.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['AST%']))
    a21.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['STL%']))
    a22.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['BLK%']))
    a23.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['eFG%']))
    a24.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['TOV%']))
    a25.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['ORB%']))
    a26.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['FT/FGA']))

    b1.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['Overall W']))
    b2.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['Overall L']))
    b3.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['W-L%']))
    b4.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['SRS']))
    b5.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['SOS']))
    b6.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['Conference W']))
    b7.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['Conference L']))
    b8.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['Home W']))
    b9.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['Home L']))
    b10.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['Away W']))
    b11.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['Away L']))
    b12.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['Tm.']))
    b13.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['Opp.']))
    b14.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['Pace']))
    b15.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['ORtg']))
    b16.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['FTr']))
    b17.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['3PAr']))
    b18.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['TS%']))
    b19.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['TRB%']))
    b20.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['AST%']))
    b21.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['STL%']))
    b22.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['BLK%']))
    b23.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['eFG%']))
    b24.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['TOV%']))
    b25.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['ORB%']))
    b26.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['FT/FGA']))

b26

C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:60: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  a1.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['Overall W']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:61: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  a2.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['Overall L']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:62: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  a3.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['W-L%']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:63: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  a4.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['SRS']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:64: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  a5.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['SOS']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:65: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  a6.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['Conference W']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:66: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  a7.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['Conference L']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:67: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  a8.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['Home W']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:68: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  a9.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['Home L']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:69: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  a10.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['Away W']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:70: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  a11.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['Away L']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:71: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  a12.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['Tm.']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:72: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  a13.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['Opp.']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:73: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  a14.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['Pace']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:74: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  a15.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['ORtg']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:75: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  a16.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['FTr']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:76: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  a17.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['3PAr']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:77: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  a18.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['TS%']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:78: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  a19.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['TRB%']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:79: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  a20.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['AST%']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:80: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  a21.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['STL%']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:81: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  a22.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['BLK%']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:82: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  a23.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['eFG%']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:83: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  a24.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['TOV%']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:84: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  a25.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['ORB%']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:85: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  a26.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School"] + " NCAA")]['FT/FGA']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:87: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  b1.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['Overall W']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:88: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  b2.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['Overall L']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:89: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  b3.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['W-L%']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:90: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  b4.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['SRS']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:91: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  b5.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['SOS']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:92: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  b6.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['Conference W']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:93: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  b7.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['Conference L']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:94: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  b8.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['Home W']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:95: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  b9.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['Home L']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:96: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  b10.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['Away W']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:97: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  b11.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['Away L']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:98: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  b12.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['Tm.']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:99: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  b13.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['Opp.']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:100: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  b14.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['Pace']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:101: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  b15.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['ORtg']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:102: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  b16.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['FTr']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:103: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  b17.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['3PAr']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:104: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  b18.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['TS%']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:105: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  b19.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['TRB%']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:106: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  b20.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['AST%']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:107: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  b21.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['STL%']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:108: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  b22.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['BLK%']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:109: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  b23.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['eFG%']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:110: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  b24.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['TOV%']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:111: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  b25.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['ORB%']))
C:\Users\thewa\AppData\Local\Temp\ipykernel_12292\1886111490.py:112: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  b26.append(float(zo2[zo2["School"] == str(zo1.loc[i]["School.1"] + " NCAA")]['FT/FGA']))

[0.216,
 0.216,
 0.241,
 0.31,
 0.253,
 0.241,
 0.215,
 0.253,
 0.224,
 0.243,
 0.31,
 0.269,
 0.251,
 0.241,
 0.216,
 0.251,
 0.241,
 0.294,
 0.241,
 0.216,
 0.243,
 0.247,
 0.208,
 0.244,
 0.19,
 0.193,
 0.246,
 0.269,
 0.283,
 0.251,
 0.229,
 0.313,
 0.218,
 0.241,
 0.208,
 0.251,
 0.216,
 0.225,
 0.177,
 0.241,
 0.247,
 0.222,
 0.234,
 0.247,
 0.224,
 0.251,
 0.243,
 0.227,
 0.283,
 0.231,
 0.269,
 0.253,
 0.244,
 0.258,
 0.246,
 0.289,
 0.269,
 0.31,
 0.251,
 0.216,
 0.215,
 0.252,
 0.19,
 0.247,
 0.212,
 0.289,
 0.236]

In [81]:
zo1['Overall W Diff'] = np.asarray(a1) - np.asarray(b1)
zo1['Overall L Diff'] = np.asarray(a2) - np.asarray(b2)
zo1['W-L% Diff'] = np.asarray(a3) - np.asarray(b3)
zo1['SRS Diff'] = np.asarray(a4) - np.asarray(b4)
zo1['SOS Diff'] = np.asarray(a5) - np.asarray(b5)
zo1['Conference W Diff'] = np.asarray(a6) - np.asarray(b6)
zo1['Conference L Diff'] = np.asarray(a7) - np.asarray(b7)
zo1['Home W Diff'] = np.asarray(a8) - np.asarray(b8)
zo1['Home L Diff'] = np.asarray(a9) - np.asarray(b9)
zo1['Away W Diff'] = np.asarray(a10) - np.asarray(b10)
zo1['Away L Diff'] = np.asarray(a11) - np.asarray(b11)
zo1['Tm. Diff'] = np.asarray(a12) - np.asarray(b12)
zo1['Opp. Diff'] = np.asarray(a13) - np.asarray(b13)
zo1['Pace Diff'] = np.asarray(a14) - np.asarray(b14)
zo1['ORtg Diff'] = np.asarray(a15) - np.asarray(b15)
zo1['FTr Diff'] = np.asarray(a16) - np.asarray(b16)
zo1['3PAr Diff'] = np.asarray(a17) - np.asarray(b17)
zo1['TS% Diff'] = np.asarray(a18) - np.asarray(b18)
zo1['TRB% Diff'] = np.asarray(a19) - np.asarray(b19)
zo1['AST% Diff'] = np.asarray(a20) - np.asarray(b20)
zo1['STL% Diff'] = np.asarray(a21) - np.asarray(b21)
zo1['BLK% Diff'] = np.asarray(a22) - np.asarray(b22)
zo1['eFG% Diff'] = np.asarray(a23) - np.asarray(b23)
zo1['TOV% Diff'] = np.asarray(a24) - np.asarray(b24)
zo1['ORB% Diff'] = np.asarray(a25) - np.asarray(b25)
zo1['FT/FGA Diff'] = np.asarray(a26) - np.asarray(b26)

zo1['Overall W 1'] = a1
zo1['Overall L 1'] = a2
zo1['W-L% 1'] = a3
zo1['SRS 1'] = a4
zo1['SOS 1'] = a5
zo1['Conference W 1'] = a6
zo1['Conference L 1'] = a7
zo1['Home W 1'] = a8
zo1['Home L 1'] = a9
zo1['Away W 1'] = a10
zo1['Away L 1'] = a11
zo1['Tm. 1'] = a12
zo1['Opp. 1'] = a13
zo1['Pace 1'] = a14
zo1['ORtg 1'] = a15
zo1['FTr 1'] = a16
zo1['3PAr 1'] = a17
zo1['TS% 1'] = a18
zo1['TRB% 1'] = a19
zo1['AST% 1'] = a20
zo1['STL% 1'] = a21
zo1['BLK% 1'] = a22
zo1['eFG% 1'] = a23
zo1['TOV% 1'] = a24
zo1['ORB% 1'] = a25
zo1['FT/FGA 1'] = a26

zo1['Overall W 2'] = b1
zo1['Overall L 2'] = b2
zo1['W-L% 2'] = b3
zo1['SRS 2'] = b4
zo1['SOS 2'] = b5
zo1['Conference W 2'] = b6
zo1['Conference L 2'] = b7
zo1['Home W 2'] = b8
zo1['Home L 2'] = b9
zo1['Away W 2'] = b10
zo1['Away L 2'] = b11
zo1['Tm. 2'] = b12
zo1['Opp. 2'] = b13
zo1['Pace 2'] = b14
zo1['ORtg 2'] = b15
zo1['FTr 2'] = b16
zo1['3PAr 2'] = b17
zo1['TS% 2'] = b18
zo1['TRB% 2'] = b19
zo1['AST% 2'] = b20
zo1['STL% 2'] = b21
zo1['BLK% 2'] = b22
zo1['eFG% 2'] = b23
zo1['TOV% 2'] = b24
zo1['ORB% 2'] = b25
zo1['FT/FGA 2'] = b26

In [82]:
# zo1.to_excel("final 2022.xlsx")
# zo1.to_excel("final 2023.xlsx")
zo1.to_excel("final 2019.xlsx")

In [17]:
losers.iloc[0]["TEAM"]

'North Carolina'

In [19]:
final2023 = pd.read_excel("final 2023.xlsx")

In [42]:
final2022 = pd.read_excel("final 2022.xlsx")

In [85]:
final2019 = pd.read_excel("final 2019.xlsx")

In [43]:
seed22 = (final2022["Seed Diff"] - np.mean(final2022["Seed Diff"]))/(np.std(final2022["Seed Diff"]))
wl22 = (final2022["W-L% Diff"] - np.mean(final2022["W-L% Diff"]))/(np.std(final2022["W-L% Diff"]))
sos22 = (final2022["SOS Diff"]-np.mean(final2022["SOS Diff"]))/(np.std(final2022["SOS Diff"]))

In [44]:
y = 2.72 * seed22 + 2.474 * wl22 + 3.99 * sos22
z = np.exp(y)/(1+np.exp(y))

In [46]:
-1/len(z)*sum(final2022["0 or 1"] * np.log(z) + (1-final2022["0 or 1"]) * np.log(1-z))

0.4532064549563865

In [47]:
seed = (final2023["Seed Diff"] - np.mean(final2023["Seed Diff"]))/(np.std(final2023["Seed Diff"]))
wl = (final2023["W-L% Diff"] - np.mean(final2023["W-L% Diff"]))/(np.std(final2023["W-L% Diff"]))
sos = (final2023["SOS Diff"]-np.mean(final2023["SOS Diff"]))/(np.std(final2023["SOS Diff"]))

seed2 = (final2023["Seed Diff"] - np.mean(final2022["Seed Diff"]))/(np.std(final2022["Seed Diff"]))
wl2 = (final2023["W-L% Diff"] - np.mean(final2022["W-L% Diff"]))/(np.std(final2022["W-L% Diff"]))
sos2 = (final2023["SOS Diff"]-np.mean(final2022["SOS Diff"]))/(np.std(final2022["SOS Diff"]))

In [48]:
y = 2.72 * seed + 2.474 * wl + 3.99 * sos
y2 = 2.72 * seed2 + 2.474 * wl2 + 3.99 * sos2
z = np.exp(y)/(1+np.exp(y))
z2 = np.exp(y2)/(1+np.exp(y2))

In [49]:
ll = -1/67*sum(final2023["0 or 1"] * np.log(z) + (1-final2023["0 or 1"]) * np.log(1-z))
ll2 = -1/67*sum(final2023["0 or 1"] * np.log(z2) + (1-final2023["0 or 1"]) * np.log(1-z2))

In [52]:
seed = (final2023["Seed Diff"] - np.mean(final2023["Seed Diff"]))/(np.std(final2023["Seed Diff"]))
sos = (final2023["SOS Diff"]-np.mean(final2023["SOS Diff"]))/(np.std(final2023["SOS Diff"]))
wd = (final2023["Overall W Diff"]-np.mean(final2023["Overall W Diff"]))/(np.std(final2023["Overall W Diff"]))
tpa = (final2023["3PAr Diff"]-np.mean(final2023["3PAr Diff"]))/(np.std(final2023["3PAr Diff"]))

seed2 = (final2023["Seed Diff"] - np.mean(final2022["Seed Diff"]))/(np.std(final2022["Seed Diff"]))
sos2 = (final2023["SOS Diff"]-np.mean(final2022["SOS Diff"]))/(np.std(final2022["SOS Diff"]))
wd2 = (final2023["Overall W Diff"]-np.mean(final2022["Overall W Diff"]))/(np.std(final2022["Overall W Diff"]))
tpa2 = (final2023["3PAr Diff"]-np.mean(final2022["3PAr Diff"]))/(np.std(final2022["3PAr Diff"]))

In [53]:
y = 3.61 * sos + 2.587 * seed + 3.283 * wd - 0.861 * tpa
y2 = 3.61 * sos2 + 2.587 * seed2 + 3.283 * wd2 - 0.861 * tpa2
z = np.exp(y)/(1+np.exp(y))
z2 = np.exp(y2)/(1+np.exp(y2))

In [54]:
ll = -1/67*sum(final2023["0 or 1"] * np.log(z) + (1-final2023["0 or 1"]) * np.log(1-z))
ll2 = -1/67*sum(final2023["0 or 1"] * np.log(z2) + (1-final2023["0 or 1"]) * np.log(1-z2))

In [55]:
ll

0.612154062387751

In [56]:
seed = (final2023["Seed Diff"] - np.mean(final2023["Seed Diff"]))/(np.std(final2023["Seed Diff"]))
sos = (final2023["SOS Diff"]-np.mean(final2023["SOS Diff"]))/(np.std(final2023["SOS Diff"]))
wd = (final2023["Overall W Diff"]-np.mean(final2023["Overall W Diff"]))/(np.std(final2023["Overall W Diff"]))
#wl = (final2023["W-L% Diff"] - np.mean(final2023["W-L% Diff"]))/(np.std(final2023["W-L% Diff"]))

seed = (final2023["Seed Diff"] - np.mean(final2023["Seed Diff"]))/(np.std(final2023["Seed Diff"]))
sos = (final2023["SOS Diff"]-np.mean(final2023["SOS Diff"]))/(np.std(final2023["SOS Diff"]))
wd = (final2023["Overall W Diff"]-np.mean(final2023["Overall W Diff"]))/(np.std(final2023["Overall W Diff"]))

In [57]:
y = 3.346 * sos + 2.238 * seed + 2.646 * wd
z = np.exp(y)/(1+np.exp(y))

In [58]:
ll = -1/67*sum(final2023["0 or 1"] * np.log(z) + (1-final2023["0 or 1"]) * np.log(1-z))

In [59]:
ll

0.5428872846674826

In [87]:
seed = (final2023["Seed Diff"] - np.mean(final2023["Seed Diff"]))/(np.std(final2023["Seed Diff"]))
sos = (final2023["SOS Diff"]-np.mean(final2023["SOS Diff"]))/(np.std(final2023["SOS Diff"]))
wd = (final2023["Overall W Diff"]-np.mean(final2023["Overall W Diff"]))/(np.std(final2023["Overall W Diff"]))
wl = (final2023["W-L% Diff"] - np.mean(final2023["W-L% Diff"]))/(np.std(final2023["W-L% Diff"]))

seed2 = (final2019["Seed Dif"] - np.mean(final2019["Seed Dif"]))/(np.std(final2019["Seed Dif"]))
sos2 = (final2019["SOS Diff"]-np.mean(final2019["SOS Diff"]))/(np.std(final2019["SOS Diff"]))
wd2 = (final2019["Overall W Diff"]-np.mean(final2019["Overall W Diff"]))/(np.std(final2019["Overall W Diff"]))
wl2 = (final2019["W-L% Diff"] - np.mean(final2019["W-L% Diff"]))/(np.std(final2019["W-L% Diff"]))

In [88]:
y = 1.28 * seed + 2.37 * sos + 3.83 * wd - 1.77 * wl
y2 = 1.28 * seed2 + 2.37 * sos2 + 3.83 * wd2 - 1.77 * wl2

z = np.exp(y)/(1+np.exp(y))
z2 = np.exp(y2)/(1+np.exp(y2))

In [89]:
ll = -1/67*sum(final2023["0 or 1"] * np.log(z) + (1-final2023["0 or 1"]) * np.log(1-z))
ll

0.47874295650972665

In [92]:
ll2 = -1/67*sum(final2019["0 or 1"] * np.log(z2) + (1-final2019["0 or 1"]) * np.log(1-z2))
ll2

0.3591327051043408

In [66]:
seed = (final2023["Seed Diff"] - np.mean(final2023["Seed Diff"]))/(np.std(final2023["Seed Diff"]))
sos = (final2023["SOS Diff"]-np.mean(final2023["SOS Diff"]))/(np.std(final2023["SOS Diff"]))
wl = (final2023["W-L% Diff"] - np.mean(final2023["W-L% Diff"]))/(np.std(final2023["W-L% Diff"]))

In [67]:
y = 2.72 * seed + 3.99 * sos + 2.474 * wl
z = np.exp(y)/(1+np.exp(y))

In [68]:
ll = -1/67*sum(final2023["0 or 1"] * np.log(z) + (1-final2023["0 or 1"]) * np.log(1-z))
ll

0.6351562774884211

In [63]:
seed = (final2023["Seed Diff"] - np.mean(final2023["Seed Diff"]))/(np.std(final2023["Seed Diff"]))
srs = (final2023["SRS Diff"]-np.mean(final2023["SRS Diff"]))/(np.std(final2023["SRS Diff"]))
wd = (final2023["Overall W Diff"]-np.mean(final2023["Overall W Diff"]))/(np.std(final2023["Overall W Diff"]))

In [64]:
y = 0.954 * seed + 0.830 * wd + 1.673 * srs
z = np.exp(y)/(1+np.exp(y))

In [65]:
ll = -1/67*sum(final2023["0 or 1"] * np.log(z) + (1-final2023["0 or 1"]) * np.log(1-z))
ll

0.5494489501653319